$white: #ffffff;
$grey: #645c57;
$light_grey: #EEEEEE;   /* background*/
$silver: #dedede;
$braun: #a69a91;

/*for left menu*/
$grey_light: #756c65;  /*for menu item grey border, */
$grey_orange: #e7d4c5; /*link color*/

/*styles for alert*/
$red: #CC000C;
$light_pink: #FFDFE4;
$green: #088A58;
$silver_grey: #b6b6b6; /*background for pane titles, table th*/
$black: #000000;
$orange: #FC9822;
$orange_tint: #fee0bc;
$dark_orange: #fd8300;
$silver_light: #d9d5d2; /*for border*/
$grey_dark: #5a5a5a; /*grey link color*/
$dark_black: #3d3835; /*for quicktabs-tabs color*/
$light: #d0cac6; /*for top menu border*/
$silver_bright: #c8c5c2;
$orange_dark: #f2dca7; /*for Quick timetracking*/
$orange_light: #faf1dc;

/*styles for border*/
$drab: #747474; /*for shadow*/
$light_drab: #959595;
$radius_5: 5px;

/*styles for text*/
$font_family: Arial, Helvetica, sans-serif;
$value100: 100%;

/*gradient styles*/
$drub_light: #e9e5e2;
$drub_grey: #d4d4d4;


// ======================================================
// new definitions.
// semantic ones.
// there is no DARK BLACK!!!
// ======================================================

$copyColor: #000; // default text-color
$contentBackground: #fff;
