div.cke_button__screenshotpaste {
  display: inline-block;
  height: 18px;
  padding: 4px 6px;
  outline: rgb(0, 0, 0);
  cursor: default;
  float: left;
  border: 0px;
}
div.cke_button__screenshotpaste .cke_button_label {
  display:inline !important;
}
div.cke_button__screenshotpaste.paste-error .cke_button_label {
  color:#F00;
}